{% extends "admin/adminbase.html" %}
{% load static %}

{% block content %}
<form method="post" enctype='multipart/form-data'>
    {% csrf_token %}
    <div class="container mt-4 mb-4">
      <div class="row justify-content-md-center">
          <div class="col-md-12 col-lg-8">
            <div class="form-group">
                <label for="formFile" class="form-label">Gambar</label>
                <input class="form-control" type="file" id="formFile" name="gambar">
              </div>
              <br>
            <div class="form-group">
              <label for="name" class="col-1 col-form-label">Judul</label>
              <input type="text" class="form-control" id="name" name="judul">
            </div>
            <br>
            <div class="form-group">
                <label for="name" class="col-1 col-form-label">Deskripsi</label>
                <input type="text" class="form-control" id="name" name="deskripsi">
              </div>
              <br>
            <div class="form-group">
              <label for="name" class="col-1 col-form-label">Penerbit</label>
              <input type="text" class="form-control" id="name" name="penerbit">
            </div>
            <br>
            <div class="form-group">
              <label for="name" class="col-1 col-form-label">Penulis</label>
              <input type="text" class="form-control" id="name" name="penulis">
            </div>
            <br>
            <div class="form-group">
              <label for="name" class="col-1 col-form-label">Editor</label>
              <input type="text" class="form-control" id="name" name="editor">
            </div>
            <br>
            <div class="form-group">
              <label for="name" class="col-1 col-form-label">Ukuran</label>
              <input type="text" class="form-control" id="name" name="ukuran">
            </div>
            <br>
            <div class="form-group">
              <label for="name" class="col-1 col-form-label">Halaman</label>
              <input type="number" class="form-control" id="name" name="halaman">
            </div>
            <br>
            <div class="form-group">
              <label for="name" class="col-1 col-form-label">Harga</label>
              <input type="number" class="form-control" id="name" name="harga">
            </div>
            <br>
            <div class="form-group">
              <label for="name" class="col-1 col-form-label">Stok</label>
              <input type="number" class="form-control" id="name" name="stok">
            </div>
            <br>
            <div class="form-group">
              <label for="date" class="col-1 col-form-label">Sinopsis</label>
              <textarea id="editor" class="form-control" name="sinopsis"></textarea>
            </div>
            <br>
            <div class="form-group">
              <label for="name" class="col-1 col-form-label">Link</label>
              <input type="url" class="form-control" id="name" name="link">
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
      </div>
    </div>
</form>
{% endblock content %}